*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 55px;
    background: #b0c4de;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .left {
    margin-left: 35px;
}
.navbar .right {
    margin-right: 35px;
}

.navbar .right button{
    width: 80px;
    padding: 7px;
    outline: none;
    border-radius: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 8px;
    
}