*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: aqua;
}

.updateTodoMain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.updateTodoMain span{
    
    text-decoration: none;

}
form{
    max-width: 500px;
    background: blue;
    padding: 28px;
    border-radius: 8px;
    display: grid;
    grid-column: auto;
}

form h4{
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-align: center;
}

form label{
    font-size: 1.5rem;
    margin-top: 14px;
    margin-bottom: 7px;
}

form input{
    width: 350px;
    padding: 7px;
    border-radius: 4px;
    outline: none;

}

form input:hover{
    border: 2.5px solid #000;
    transition: 0.5s ease-in-out;
}

form input::placeholder{
    font-style: italic;
}

form button{
    margin-top: 11px;
    padding: 5px;
    background: #6495ed;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

form button:hover{
    background:#add8e6;
}